#clipboard {
    width: inherit;
    margin-top: 150px;
    text-align: center;
}

#clipboard p {
    width: 730px;
    margin: 19px 0px 48px;
}

#clipboard div {
    width: 470px;
    display: inline-flex;
    justify-content: space-between;
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #clipboard {
        width: inherit;
        padding: 0px 32px;
        margin-top: 170px;
    }

    #clipboard p {
        width: auto;
        margin: 16px 0px 46px;
    }

    #clipboard div {
        width: 311px;
        height: 136px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}