@charset "utf-8";

@font-face {
  font-family: 'BaiJamjuree-SemiBold';
  src: url('../assets/fonts/BaiJamjuree-SemiBold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'BaiJamjuree-Regular';
  src: url('../assets/fonts/BaiJamjuree-Regular.woff');
  font-weight: 400;
}

/* CSS Document */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  color: #4C545C;
}

h1 {
  font: 600 46px/58px 'BaiJamjuree-SemiBold';
  letter-spacing: -0.75px;
}

h2 {
  font: 600 36px/45px 'BaiJamjuree-SemiBold';
  letter-spacing: -0.59px;
}

h3 {
  font: 600 24px/30px 'BaiJamjuree-SemiBold';
  letter-spacing: -0.39px;
}

p {
  margin: 0px;
  padding: 0px;
  color: #9EABB2;
}

.textLarge {
  font: 400 20px/30px 'BaiJamjuree-Regular';
  letter-spacing: 0.15px;
}

.textMedium {
  font: 400 18px/30px 'BaiJamjuree-Regular';
  letter-spacing: 0.14px;
}

.textSmall {
  font: 400 16px/30px 'BaiJamjuree-Regular';
  letter-spacing: 0.12px;
}

.largeButton {
  width: 227px;
  height: 56px;
  border-radius: 28px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 3px;
  font: 600 18px/30px 'BaiJamjuree-SemiBold';
  letter-spacing: 0.5px;
  color: white;
}

.bt-ios {
  background-color: hsl(171, 66%, 44%);
  border-bottom-color: hsl(171, 66%, 44%);
  box-shadow: 0px 5px 25px -5px rgba(137, 229, 199, 0.5);
}

.bt-mac {
  background-color: hsl(233, 100%, 69%);
  border-bottom-color: hsl(233, 100%, 69%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988);
}

@media(hover:hover) {
  .bt-ios:hover {
    background-color: hsla(171, 66%, 44%, 0.8);
    border-bottom-color: hsla(171, 66%, 44%, 0.8);
  }

  .bt-mac:hover {
    background-color: hsla(233, 100%, 69%, 0.8);
    border-bottom-color: hsla(233, 100%, 69%, 0.8);
  }
}

main {
  width: 1440px;
  height: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button {
  cursor: pointer;
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {

  h1 {
    font: 600 32px/1 'BaiJamjuree-SemiBold';
    letter-spacing: -0.52px;
  }

  h2 {
    font: 600 28px/1 'BaiJamjuree-SemiBold';
    letter-spacing: -0.39px;
  }

  h3 {
    font: 600 24px/30px 'BaiJamjuree-SemiBold';
    letter-spacing: -0.39px;
  }

  .textLarge,.textMedium,.textSmall {
    font: 400 16px/26px 'BaiJamjuree-Regular';
    letter-spacing: 0.12px;
  }

  .largeButton {
    width: 311px;
    height: 56px;
  }

  main {
    width: 375px;
    margin-top: 160px;
  }
}