#keepTrack h2{
    text-align: center;
}

#keepTrack-mainText{
    width: 730px;
    margin-top: 19px;
    text-align: center;
}

#keepTrack-content{
    width: inherit;
    height: 572px;
    margin-top: 80px;
    padding: 68px 0px 0px 830px;
    background: url('../assets/images/image-computer.png') -30px 50%/752px no-repeat;
}

#keepTrack-content *{
    width: 356px;
}

#keepTrack-content p{
    margin: 8px 0px 56px; 
}