@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* CSS Document */

*{font-family:'Bai Jamjuree'}

body{
	margin: 0px;
	padding: 0px;
	width: 1440px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white url("../images/bg-header-desktop.png") no-repeat;
	background-size: cover;
}

body > div {
	text-align: center;
}

input[type="button"]{
	width: 230px;
	height: 60px;
	border-radius: 30px;
	margin-left: 8px;
	margin-right: 8px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 3px;
	font-size: 20px;
	color:white;
	cursor: pointer;
}

#logo{
	display: block;
	margin-top: 126px;
	margin-bottom: 70px;
}

#content-keep-track{
	display:flex;
	flex-direction: row;
	height: 590px;
	width: inherit;
	margin-top: 80px;
	margin-bottom: 150px;
}

#img-keep-track{
	height: inherit;
	width: 720px;
	background: url("../images/image-computer.png") no-repeat;
	background-size: 760px;
	background-position: 100% 0%;
	
}

#img-access{
	height: 475px;
	width: 820px;
	display: block;
	background: url("../images/image-devices.png") no-repeat;
	background-size: 810px;
	margin-top: 80px;
	margin-bottom: 150px;
}

#subsection-keep-feat {
	margin-top: 70px;
	margin-left: 110px;
}
#subsection-keep-feat > div {
	text-align: left;
	margin-bottom: 80px;
}

#subsection-supercharge{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 140px;
}

#subsection-supercharge > div{
	margin-left: 5px;
	margin-right: 5px;
}

#companies{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin-bottom: 150px;
}

#companies > img{
	display: block;
	margin: auto 35px auto 35px;
}

.download-buttons{
	display: block;
	margin-top: 50px;
	margin-bottom: 140px;
}

.bt-ios{
	background-color: hsl(171, 66%, 44%);
	border-bottom-color: hsl(171, 66%, 44%);
	box-shadow: 0px 5px 25px -5px hsl(171, 66%, 44%);
}

.bt-mac{
	background-color: hsl(233, 100%, 69%);
	border-bottom-color: hsl(233, 100%, 69%);
	box-shadow: 0px 5px 25px -5px hsl(233, 100%, 69%);
}

.title{
	font-weight: 600;
	color:hsl(210, 10%, 33%);
	margin: 0px;
}

.comment{
	font-weight: 400;
	color:hsl(201, 11%, 66%);
}

.main-section{
	width: 700px;
}

.main-section p[class = "title"]{
	font-size: 44px;
}

.main-section p[class = "comment"]{
	font-size: 20px;
}

.section{
	width: 700px;
}

.section p[class = "title"]{
	font-size: 35px;
}

.section p[class = "comment"]{
	font-size: 18px;
}

.sub-section{
	width: 330px;
}

.sub-section p[class = "title"]{
	font-size: 22px;
}

.sub-section p[class = "comment"]{
	font-size: 16px;
}

.sub-icon{
	height: 70px;
}
